.movie-card {
    border: 1px solid #ccc;
    border-radius:5px;
    padding: 5px;
    margin: 5px ;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .movie-image {
    width: 10%;
    height: auto;
    border-radius: 5px;
  }
  