.cart-container {
  padding: 20px;
  background-color: #121212;
  color: white;
  min-height: 100vh;
  text-align: center;
}

.reservation-card {
  background-color: #1e1e1e;
  padding: 15px;
  margin: 10px auto;
  border-radius: 8px;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.reservation-card h3 {
  margin-bottom: 10px;
}

.reservation-card button {
  background-color: #332b29;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.reservation-card button:hover {
  background-color: #553024;
}

.clear-cart {
  background-color: #3a1010;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.clear-cart:hover {
  background-color: #3d0f0f;
}
