
<nav>
  <ul>
    

    <li><a routerLink="/movies" routerLinkActive="active">Filmovi</a></li>
    <li *ngIf="!authService.isLoggedIn()"><a routerLink="/login" routerLinkActive="active">Log in</a></li>
    <li><a routerLink="/profile" routerLinkActive="active">Moj profil</a></li>
    <li><a routerLink="/cart" routerLinkActive="active">Korpa</a></li>
    <li><a routerLink="/about" routerLinkActive="active">O nama</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Kontakt</a></li>
    <li *ngIf="authService.isLoggedIn()">
      <a href="#" (click)="logout()">Odjavi se</a>
    </li>
   
  </ul> 
  
</nav>


<router-outlet></router-outlet>
